body {
    margin: 0;
    padding: 0;
    background: url(../img/bg.jpg) no-repeat;
    background-repeat: no-repeat;
    background-size: cover;
    font-family: sans-serif;
    height: 100vh;
}

.start {
    width: 1200px;
    height: 720px;
    /* background: black; */
    background: url(../img/min.jpg) no-repeat center top;
    background-size: cover;
    opacity: .85;
    color: black;
    top: 50%;
    left: 50%;
    position: absolute;
    transform: translate(-50%, -50%);
    box-sizing: border-box;
    padding: 70px 30px;
}

.login-box {
    width: 380px;
    height: 430px;
    background: black;
    opacity: .85;
    color: #fff;
    top: 50%;
    left: 50%;
    position: absolute;
    transform: translate(-50%, -50%);
    box-sizing: border-box;
    padding: 70px 30px;
}

.create-box {
    width: 380px;
    height: 520px;
    background: black;
    opacity: .85;
    color: #fff;
    top: 50%;
    left: 50%;
    position: absolute;
    transform: translate(-50%, -50%);
    box-sizing: border-box;
    padding: 70px 30px;
}

.recover-box {
    width: 380px;
    height: 465px;
    background: black;
    opacity: .85;
    color: #fff;
    top: 50%;
    left: 50%;
    position: absolute;
    transform: translate(-50%, -50%);
    box-sizing: border-box;
    padding: 70px 30px;
}

.login-box .avatar,
.create-box .avatar,
.recover-box .avatar {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    position: absolute;
    top: -50px;
    left: calc(50% - 50px);
}


.login-box h1,
.create-box h1,
.recover-box h1 {
    margin: 0;
    padding: 0 0 20px;
    text-align: center;
    font-size: 22px;
}

.start h1 {
    margin: 0;
    padding: 0 0 20px;
    text-align: center;
    font-size: 110px;
}

.start p {
    margin: 0;
    padding: 0 0 20px;
    text-align: center;
    font-size: 22px;
}

.con {
    display: flex;
    justify-content: center;

}

.con .fa-brands,
.con .fa-solid {
    margin-right: 5%;
    font-size: 50px;
}

.con i {
    text-align: center;
}

.con p {
    margin-top: 5%;
    /* font-size: 10px; */
}

.accesos {
    text-align: center;
    margin: 0;
    padding: 0;
}

.accesos a {
    text-decoration: none;
    font-size: 40px;
    color: darkblue;
}

.accesos {
    font-size: 40px;
}

.login-box label,
.create-box label,
.recover-box label,
.etiquetas {
    margin: 0;
    padding: 0;
    font-weight: bold;
    display: block;
}

.login-box input,
.create-box input,
.recover-box input {
    width: 90%;
    margin-bottom: 20px;
}

.cajitas {
    width: 100%;
    margin-bottom: 20px;
}

.fotografia {
    width: 60%;
}

.login-box input[type="text"],
.create-box input[type="email"],
.login-box input[type="email"],
.recover-box input[type="email"],
.login-box input[type="password"],
.create-box input[type="password"],
.recover-box input[type="password"],
.create-box input[type="text"],
.recover-box input[type="text"],
.mt-3 input[type="text"],
.mt-2 input[type="text"] {
    border: none;
    border-bottom: 1px solid #fff;
    background: transparent;
    outline: none;
    height: 40px;
    color: #fff;
    font-size: 16px;
}

.login-box input[type="submit"],
.create-box input[type="submit"],
.recover-box input[type="submit"] {
    border: none;
    font-family: Arial, Helvetica, sans-serif;
    outline: none;
    height: 40px;
    background: rgb(235, 135, 177);
    color: #fff;
    font-size: 18px;
    border-radius: 4px;
}

.login-box input[type="submit"]:hover,
.create-box input[type="submit"]:hover,
.recover-box input[type="submit"]:hover {
    cursor: pointer;
    background: #e6e34d;
    color: #fff;
}

.create-box input[type="date"] {
    appearance: none;
    color: #ffffff;
    font-family: sans-serif;
    font-size: 18px;
    border: 1px solid lightgray;
    background: #000000;
    padding: 4px;
    display: inline-block;
    visibility: visible;
    width: 90%;
    text-align: center;
}

.create-box input[type="date"]:hover {
    background: #fff;
    color: #000000;
    transition-duration: 1s;
}

.login-box a,
.create-box a,
.recover-box a {
    text-decoration: none;
    font-size: 12px;
    line-height: 20px;
    color: darkgrey;
}

.login-box a:hover,
.create-box a:hover,
.recover-box a:hover {
    color: #fff;
}

/* scrollbar */

.scrollbar {
    margin: 10px;
    width: 300px;
    height: 350px;
    background: black;
    overflow-y: auto;
    margin-bottom: 30px;
}

.force-overflow {
    min-height: 10px;
    min-width: 100px;
}

#wrapper {
    width: 310px;
    height: 30px;
}

/* sidebar */

@import url(//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css);

@import url(https://fonts.googleapis.com/css?family=Titillium+Web:300);

.fa-2x {
    font-size: 2em;
}

.fa {
    position: relative;
    display: table-cell;
    width: 60px;
    height: 36px;
    text-align: center;
    vertical-align: middle;
    font-size: 20px;
}


.main-menu:hover,
nav.main-menu.expanded {
    width: 250px;
    overflow: visible;
}

.main-menu {
    background: #212121;
    /* border-right: 1px solid #e5e5e5; */
    /* position: absolute; */
    /* overflow: auto; */
    /* position: -webkit-sticky;
    position: sticky; */
    position: fixed;
    top: 0;
    bottom: 0;
    height: 100%;
    left: 0;
    width: 60px;
    overflow: hidden;
    -webkit-transition: width .05s linear;
    transition: width .05s linear;
    -webkit-transform: translateZ(0) scale(1, 1);
    z-index: 1000;
}

.main-menu>ul {
    margin: 7px 0;
}

.main-menu li {
    position: relative;
    display: block;
    width: 250px;
}

.main-menu li>a {
    position: relative;
    display: table;
    border-collapse: collapse;
    border-spacing: 0;
    color: #999;
    font-family: arial;
    font-size: 14px;
    text-decoration: none;
    -webkit-transform: translateZ(0) scale(1, 1);
    -webkit-transition: all .1s linear;
    transition: all .1s linear;

}

.main-menu .nav-icon {
    position: relative;
    display: table-cell;
    width: 60px;
    height: 36px;
    text-align: center;
    vertical-align: middle;
    font-size: 18px;
}

.main-menu .nav-text {
    position: relative;
    display: table-cell;
    vertical-align: middle;
    width: 190px;
    font-family: 'Titillium Web', sans-serif;
}

.main-menu>ul.logout {
    position: absolute;
    left: 0;
    bottom: 0;
}

.no-touch .scrollable.hover {
    overflow-y: hidden;
}

.no-touch .scrollable.hover:hover {
    overflow-y: auto;
    overflow: visible;
}

a:hover,
a:focus {
    text-decoration: none;
}

nav {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
}

nav ul,
nav li {
    outline: 0;
    margin: 0;
    padding: 0;
}

.main-menu li:hover>a,
nav.main-menu li.active>a,
.dropdown-menu>li>a:hover,
.dropdown-menu>li>a:focus,
.dropdown-menu>.active>a,
.dropdown-menu>.active>a:hover,
.dropdown-menu>.active>a:focus,
.no-touch .dashboard-page nav.dashboard-menu ul li:hover a,
.dashboard-page nav.dashboard-menu ul li.active a {
    color: #fff;
    background-color: #5fa2db;
}

.area {
    float: left;
    /* background: #e2e2e2; */
    width: 100%;
    height: 100%;
}

@font-face {
    font-family: 'Titillium Web';
    font-style: normal;
    font-weight: 300;
    src: local('Titillium WebLight'), local('TitilliumWeb-Light'), url(http://themes.googleusercontent.com/static/fonts/titilliumweb/v2/anMUvcNT0H1YN4FII8wpr24bNCNEoFTpS2BTjF6FB5E.woff) format('woff');
}

/* account */

.account_section {
    height: calc(100%);
    /* background: url(../img/settings.jpg);
    background-repeat: no-repeat;
    background-size: cover; */
}

.edit-box {
    width: 60%;
    height: 80%;
    background: black;
    opacity: .85;
    color: #fff;
    top: 50%;
    left: 50%;
    position: absolute;
    transform: translate(-50%, -50%);
    box-sizing: border-box;
    padding: 0 30px;
}

.date-box {
    width: 75%;
    height: 90%;
    background: white;
    opacity: .85;
    color: #000;
    top: 50%;
    left: 50%;
    position: absolute;
    transform: translate(-50%, -50%);
    box-sizing: border-box;
    padding: 0 30px;
}

.form-control:focus {
    box-shadow: none;
    border-color: #BA68C8
}

.profile-button {
    background: rgb(99, 39, 120);
    box-shadow: none;
    border: none
}

.profile-button:hover {
    background: #682773
}

.profile-button:focus {
    background: #682773;
    box-shadow: none
}

.profile-button:active {
    background: #682773;
    box-shadow: none
}

.back:hover {
    color: #682773;
    cursor: pointer
}

.labels {
    font-size: 11px
}

.add-experience:hover {
    background: #BA68C8;
    color: #fff;
    cursor: pointer;
    border: solid 1px #BA68C8
}

.mt-5 img{
    width: 150px;
    height: 150px;
}

.account_section {
    height: calc(100%);
    /* background: url(../img/settings.jpg);
    background-repeat: no-repeat;
    background-size: cover; */
}

.expediente {
    height: 60%;
    width: 80%;
    position: absolute;
    left: 10%;
}